<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="/css/App.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <div class="">
        <nav class="navbar">
            <div class="" style="display: flex;justify-content: space-between;width: 80vw;align-items: center;"> 
              <div class="nav-header">
                <a to="/">
                <img src="/Logo.png" height="50" width="100" alt="Company Asset" />
                </a>
                <button
                  type="button"
                  class="nav-btn"
                  
                >
                  <i class="fa fa-bars" ></i>
                </button>
              </div>
              <ul
                class= "nav-links " 
              >
              <li>
                  
                <a href="/asset/AllAssets">Home</a>
              </li>
              <li>
                <a href="/asset/AllAssets">
                   Assets</a>
            </li>
            <li>
              <a href="/allUsers">
                 Users
                </a>
          </li>
          <li>
            <a href="/transfer/AllTransfers">
               Tranfers</a>
        </li>
          <li>
            <a href="/assetRequest/AllAssetsRequest">
               Requests
            </a>
        </li>
        <li>
            <a href="/categories/AllCategories">
               Category
            </a>
        </li>
        <li>
            <a href="/department/AllDepartments">
               Departments
            </a>
        </li>
        <li>
          <button class="btn btn-primary"><%= user?.username %></button>
      </li>

                
              </ul>
            </div>
          </nav>
    </div>

    <script src="./Main.js">

    </script>
</body>
</html>