<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
  
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.0.7/css/all.css">
    <link rel="stylesheet" href="/css/App.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <!-- <iframe id="HtmlIFrame" src="./Navbar.html" style="width:100vw ; display: grid;place-items: center;overflow: hidden;"  seamless></iframe> -->
    <!-- <link rel="stylesheet" href="../public/css/App.css"> -->
   
    <%   if(typeof message != "undefined" && message) { %>

        <div class="mt-5 mb-3">

          <div class="alert alert-warning alert-dismissible fade show" role="alert">

            <strong><%=  message  %> </strong>

            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

          </div>

        </div> 

      <% }    %>
    <div class=" login-container">


        <div  class="card " style="width:35% ;">
            <div class="card-header">
                <h1 class="text-center"> Login</h1>
               
            </div>
            <div class="card-body">
                <form action="/login" method="post">
                    <div class="form-group">
                        <label for="username">username</label>
                        <input type="text" class="form-control" required name="username" id="username" placeholder="Enter username">
                    </div>
                    <div class="form-group mb-4">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" required name="password" id="password" placeholder="Enter Password">
                    </div>
<!--     
                    <div style="display:flex ; justify-content: space-between;">
                        <div class="d-flex w-50" >
                            <input type="checkbox" name="rememberme" value="true" style="width: 20px;height: 20px;margin-right:10px" />
                            <span class="ml-3">Remember me</span>
                        </div>
                        <a href="#">forgot password?</a>
                    </div> -->
                    
                    <div class="submit-wrapper mt-3" >
                        <button type="submit" class="btn btn-success w-100" >Login</button>
                    </div>
                </form>

                <span class="center-Staff mt-3">dont have an account ? <a href="/Register">Register</a></span>

            </div>
    
        </div>
        </div>
    </div>

    
</body>
</html>